body {
    background: url("../images/content/banners/background-log-reg.jpg");
}
/* Container principal del formulario de login */
#container-log-reg > div > h2 {
    font-size: 32pt;
}
#container-log-reg > div:nth-child(1) {
    padding: 1rem;
    background-color: goldenrod;
}
#container-log-reg > div:nth-child(1) h3 {
    font-size: 16pt;
    margin-top: 0.3rem;
    text-align: center;
    font-family: Roboto-bold, Verdana, Geneva, Tahoma, sans-serif;
}

/* Container de del formulario */
#container-log-reg #cont-log-reg {
    padding: 1em;
    /* background: rgb(124, 124, 124); */
}
.log-reg form {
    display: flex;
    flex-direction: column;
    margin: 0.3rem;
    padding: 0.3rem;
    text-align: center;
    min-width: 150px;
}
.log-reg form .log-reg-fields {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 1em;
    text-align: center;
}
.log-reg-fields label {
    padding: 0.3rem;
    width: 3rem;
    background-color: white;
    text-align: center;
}
.log-reg-fields input {
    width: 15em;
    padding: 0.3rem;
    border: none;
    outline: none;
    font-size: 12pt;
}
#cont-soc-register #red_soc {
    display: flex;
    justify-content: center;
}
#cont-soc-register h4 {
    text-align: center;
    font-size: 24pt;
}
#cont-soc-register #red_soc > div {
    padding: 0.6em;
    margin: 0.5em;
    width: 8.5em;
    text-align: center;
}
#cont-soc-register #red_soc > div a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#cont-soc-register #red_soc > div:nth-child(1) {
    background-color: #3b5998;
}
#cont-soc-register #red_soc > div:nth-child(2) {
    background-color: #00acee;
}
#cont-soc-register p {
    text-align: center;
    padding: 0.5rem;
}
#btn_login {
    padding: 0.8em 2em;
    margin: 1em;
    color: white;
    background-color: brown;
    outline: none;
    cursor: pointer;
}